/* Styles for the page */
html, body {
    font: 10pt arial;
    margin: 4px;
    padding: 0;
}

#toolbar {
    padding: 0;
}

#toolbar label {
    line-height: 25px;
}

#toolbar .selectize-control:nth-of-type(1) {
    width: 280px;
}

#toolbar .selectize-control:nth-of-type(2) {
    width: 110px;
}

#toolbar .selectize-control:nth-of-type(3) {
    width: 110px;
}

#toolbar .selectize-control:nth-of-type(4) {
    width: 140px;
}

#toolbar .selectize-control:nth-of-type(5) {
    width: 140px;
}

#toolbar .ui-widget {
    font-family: inherit;
    font-size: 13px;
}

#toolbar input.ui-button {
    padding: 3px;
}

.selectize-control {
    width: 14%;
    display: inline-flex;
/*    padding-left: 10px;
    padding-right: 10px;*/
}

.selectize-input {
    padding: 2px;
}

.selectize-control.multi .selectize-input.has-items {
    padding: 0;
}

.selectize-control.multi .selectize-input > div {
    margin-bottom: 0;
}

#trash {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    width: 99%;
    margin: 0 auto;
    border-color: #000;
    border-style: dashed;
    border-width: 2px;
    height: 30px;
}


/* Grafy vseobecne */
#graphs h1 {
    width: 70%;
    float: left;
    cursor: move;
}
#graphs .description {
    float: right;
    color: #ccc;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    width: 30%;
    padding-top: 33px;
    text-align: right;
}
#graphs .description .time {

}
#graphs .description .developer {
    padding-right: 20px;
}




/* Styles for the timeline detail */
.leftBar {
    float: left;
    width: 75%;
}

.clear {
    display: block;
    clear: both;
}

.rightBar {
    display: block;
    float: right;
    width: 25%;
}

.hidden {
    display: none;
}

.legenda {
    padding: 15px;
}

.legenda .title {
    font-style: normal;
    font-size: 22pt;
    font-weight: bold;
    text-align: left;
}

.legenda .posun {
    margin-bottom: 30%;
}

.timeline-event-circle .fixed-size {
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.legenda table p {
    padding-left: 5px;
}

.vis.timeline .bar {
    fill-opacity: 1.0;
    stroke-width: 0;
}

.vis.timeline .graphGroup0 {
    fill: #97b0f8;
    stroke: #97b0f8;
}

.vis.timeline .graphGroupWeb {
    fill: #97b0f8;
    stroke: #97b0f8;
}

.vis.timeline .graphGroupIde {
    fill: #FFA500;
    stroke: #FFA500;
}

