/* Styles for the page */
html, body {
    font: 10pt arial;
    margin: 4px;
    padding: 0px;
}

#toolbar {
    margin-bottom: 1%;
    padding: 0px;
}

#mytimeline {
    float: left;
    width: 75%;
}

.clear {
    display: block;
    clear: both;
}

/*
#new {
	position: absolute;
	left: 25px;
	top: 8px;

	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
}
*/

#rightBar {
    display: block;
    float: right;
    width: 25%;
}

.more {
    display: none;
}

.hidden {
    display: none;
}

/* Custom styles for the Timeline */

div.timeline-frame {
    border-color: #5D99C3;

    border-radius: 5px;
    -moz-border-radius: 5px;
}

div.timeline-axis {
    border-color: #5D99C3;

    background-color: #5D99C3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5D99C3', endColorstr='#3A6DA0');
    background: -webkit-gradient(linear, left top, left bottom, from(#5D99C3), to(#3A6DA0));
    background: -moz-linear-gradient(top, #5D99C3, #3A6DA0);
}

div.timeline-axis-grid {
}

div.timeline-groups-axis {
    border-color: #5D99C3;
}

div.timeline-axis-text {
    color: white;
}

div.timeline-groups-text {
    color: #4D4D4D;
    font-weight: bold;
}

div.timeline-groups-text span {
    display: block;
    min-height: 10px;
    text-align: center;
}
div.timeline-event {
    color: white;
}

div.timeline-event-content {
    padding: 5px;
}

div.UNAVAILABLE {
    background-color: #F03030;
    border-color: #bd2828;
}

div.AVAILABLE {
    /*background-color: #1AA11A;*/
    border-color: #136e13;
}

div.MAYBE {
    background-color: #FFA500;
    /*border-color: #cc8100;   */
}

/* Circle layout */
.timeline-event-chart {

}

.timeline-event-chart .timeline-event-content {
    padding: 0px;
    margin: 0px;
}

div.timeline-event-cluster div.timeline-event-dot {

}

#pieChart1 {

}

#pieChart2 {

}

#pieChart3 {

}

.timeline-event-circle {
    border-radius: 50%;
}

.timeline-event-circle .timeline-event-content {
    text-align: center;
    padding: 0;
    vertical-align: middle;
}

.selectize-control {
    min-width: 25%;
    display: inline-flex;
    padding-left: 10px;
    padding-right: 10px;
}
.selectize-input {
    padding: 0;
}
.selectize-control.multi .selectize-input.has-items {
    padding: 0;
}
.selectize-control.multi .selectize-input > div {
    margin-bottom: 0;
}